<template>
  <div class="list-item">1. Pokemon</div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  name: 'PokeList',

  async setup() {
    // Model für PokeList und PokeListItem anlegen
    // Liste mit 20 Pokemon laden
    // 'https://pokeapi.co/api/v2/pokemon?offset=0&limit=20'
    // Name Converter nutzen (composables)
    // Klick auf ein Pokemon implementieren
  },
})
</script>
