<template>
  <div class="main-screen fire">
    <div class="screen__header">
      <span class="poke-name">name</span>
      <span class="poke-id"># id</span>
    </div>
    <div class="screen__image">
      <img src="" class="poke-front-image" alt="front" />
      <img src="" class="poke-back-image" alt="back" />
    </div>
    <div class="screen__description">
      <div class="stats__types">
        <span class="poke-type-one">type1</span>
        <span class="poke-type-two">type2</span>
      </div>
      <div class="screen__stats">
        <p class="stats__weight">
          weight: <span class="poke-weight">weight</span>
        </p>
        <p class="stats__height">
          height: <span class="poke-height">height</span>
        </p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  name: 'PokeOverview',

  setup() {
    // Selektiertes Pokemon laden (z.b. aus globalem State)
    // Daten im Template anpassen
    // Mit Hilfe von class-binding die class des "main-screens" dynamisch ändern
    // Hierzu könnt ihr den type1 des Pokemon nutzen
  },
})
</script>
