<template>
  <div class="left-button">Prev</div>
  <div class="right-button">Next</div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
export default defineComponent({
  name: 'RightButtons',
  setup() {
    // Mit den beiden Buttons soll die nächste bzw. die vorherige Liste mit Pokemon abgerufen werden
    // und in der PokeList.vue dargestellt werden
  },
})
</script>
